body{
    padding: 0;
    margin: 0;
}
.head{
    /* height: 10vh;    
    width: 100vw;
    object-fit: cover; */
    border: 2px solid black;
    height: 95vh;
    background-image: url(HomeImg.jpg);
    z-index: 8;
}
.box{
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    
}